* {
  margin: 0;
  padding: 0;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.bbox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #3B5998;
  text-decoration: none;
}
a:hover {
  color: #000;
}

body {
  font-family: "Lucida Grande", sans-serif;
  color: #333;
  padding: 30px;
}

h1 {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 30px;
  letter-spacing: -1px;
  margin-bottom: 30px;
  padding-left: 80px;
}

#calendar .side, #calendar .content {
  float: left;
}
#calendar .side {
  width: 80px;
  margin-top: -15px;
}
#calendar .side div {
  height: 30px;
  line-height: 30px;
  text-align: right;
  padding-right: 10px;
  font-size: 10px;
  color: #999;
}
#calendar .side .hour strong {
  font-size: 12px;
  color: #333;
}
#calendar .content {
  background: #f7f7f7;
  border: 1px solid #ddd;
  border-left-width: 5px;
  padding: 0 10px;
}
#calendar .content .inner {
  position: relative;
  width: 600px;
  height: 720px;
}
#calendar .content .event {
  position: absolute;
  background: #fff;
  padding: 10px 10px 10px 15px;
  border: 1px solid #ddd;
  border-left: 0;
  -webkit-box-shadow: inset 5px 0 0 0 #3B5998;
  -moz-box-shadow: inset 5px 0 0 0 #3B5998;
  -ms-box-shadow: inset 5px 0 0 0 #3B5998;
  -o-box-shadow: inset 5px 0 0 0 #3B5998;
  box-shadow: inset 5px 0 0 0 #3B5998;
}
#calendar .content .event h2 {
  font-size: 12px;
  line-height: 1.2em;
  margin-bottom: 5px;
}
#calendar .content .event h3 {
  font-size: 11px;
  line-height: 1.2em;
  margin-bottom: 5px;
  color: #666;
}
#calendar .content .event .desc {
  font-size: 11px;
  line-height: 1.2em;
  color: #999;
}
#calendar .content .event:hover {
  cursor: pointer;
  border-color: #bbb;
}
#calendar .content .event:hover h2 a {
  color: #000;
}
#calendar .content .event:hover h3 {
  color: #333;
}
#calendar .content .event:hover .desc {
  color: #666;
}